<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link rel = "icon"  href = "/imgs/Kb.png">
    <link href='/css/main.css' rel='stylesheet' />
</head>
<body>
    <div id="page-main-div">
    {{#if signedIn}}
        <div id="header">
            <div id="inner-wrapper">
                <div class="inline-container">
                    <div class="search-logo-wrapper">
                        <span class="helper"></span>

                        <div id="header-logo">
                            <a href="/homepage">
                                <img src="/imgs/Kb.png" onclick='/'>
                            </a>
                        </div>

                        <div id="search" class="form-control">
                            <form action="/search" method="POST">
                                <input  id="search-field" class="input-ilfield" type="text" name="search" placeholder="search">
                            </form>
                        </div>
                    </div>
                    <div class="logout">
                        <div class="form-control">
                            <form action="/logout" method="POST">
                                <button class="btn" type="submit">logout</button>
                            </form>
                        </div>
                    </div>
                    <span class="stretch"></span>
                </div>
            </div>
        </div>
    {{else}}
        {{#if finishSigning}}
            <div id="main-header">
                <div class="inline-divs">
                    <h1>knowledgeBase</h1>
                </div>
            </div>
        {{else}}
                <div id="main-header">
                    <div class="inline-divs">
                        <h1>knowledgeBase</h1>
                    </div>
                    <div class="inline-divs">
                        <div id="login-div">
                            <form id="login-form" action="/validateLogin" method="POST">
                                <div class="form-control">
                                    <input class="input-field" type="text" name="email" placeholder="email">
                                    <input class="input-field" type="password" name="password" placeholder="password">
                                    <button class="btn" type="submit">login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{/if}}
    {{/if}}