    <div id="inline-divs">
        <div id="edit-profile-wrapper">
            <div id="edit-div">
                <form id="edit-profile-form" method="POST">
                    <div id="edit-form" class="form-control">
                        <input class="input-field" type="text" name="imageurl" placeholder="image url">
                        <textarea class="input-field" rows="4" cols="1" name="about" placeholder="a few lines about yourself..."></textarea>
                        <input class="input-field" type="text" name="country" placeholder="country">
                        <input class="input-field" type="text" name="dob" placeholder="date of birth (mm/dd/yyyy)">
                        <button id="complete-btn" type="submit">update profile</button>
                    </div>
                </form>          
            </div>
        </div>
    </div>
</div>