            <div id="sign-up-wrapper">
                <div class="inline-divs">
                    <img src="/imgs/KBooks.png" width="300" height="300" alt="KnowledgeBooks"/>
                </div>

                <div class="left-aligned-divs float-right">
                    <div id="signup-div">
                        <div>
                            <h1>Join the world"s largest community for knowledge sharing</h1>
                        </div>

                        <form id="signup-form" method="POST">
                            <div class="form-control">
                                <div class="inline-container">
                                    <div class="inline-fields-div">
                                        <input class="input-ilfield" type="text" name="first-name" placeholder="firstname">
                                    </div>
                                    <div class="inline-fields-div">
                                        <input class="input-ilfield" type="text" name="last-name" placeholder="lastname">
                                    </div>
                                    <spane class="stretch"></spane>
                                </div>

                                <input class="input-field" type="text" name="email" placeholder="email">
                                <input class="input-field" type="password" name="password" placeholder="password">
                                <input class="input-field" type="password" name="password" placeholder="confirm password">
                                <button class="btn" type="submit">signup</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{{>footer}}






