<div id="send-message-wrapper">
    <div id="send-message-inner-wrapper">
        <div id="message-left-div" class="inline-divs">
            <img id="profile-img" class="circle-img-100" src="https://randomuser.me/api/portraits/women/12.jpg" alt="{{profile.firstName}}"/>
        </div>
        <div id="message-right-div" class="inline-divs">
            <div id="message-form-div">
                <form id="message-form" METHOD="POST" action="messageUser">
                    <input id="message-subject" name="message-subject" class="input-field" placeholder="message subject">
                    <textarea name="message-details" rows="4" class="reply-input-field input-field" placeholder="message details ..."></textarea>
                    <button type="submit" class="blue-btn">message</button>
                </form>
            </div>            
        </div>
    </div>
</div>